*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    padding: 3rem 2rem;
}


header{
    display: flex;
    justify-content: space-between;
}

h1{
    color: #D2872C;
    font-size: 22px;
}

ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 22px;
    font-weight: bold;
    color: #766F68;
    width: 20rem;
}

li{
    cursor: pointer;
}

.box1, .box2, .box3, .box4{
    display: none;
    width: 30px;
    height: 3px;
    margin: 5px;
    background-color: #766F68;
}

main{
    padding: 6rem 2rem;
}

h2{
    color: #766F68;
    font-size: 50px;
}

p{
    color: #766F68;
    font-size: 20px;
    width: 20rem;
    padding: 2rem 0;
}

button{
    width: 13rem;
    height: 2.8rem;
    font-size: 20px;
    color: #ffffff;
    border: none;
    border-radius: .6rem;
    background-color: #D2872C;
    transition: 1s all;
}

img{
    width: 580px;
    position: absolute;
    right: 0;
    bottom: 5rem;
    z-index: -1;
}

button:hover{
    box-shadow: 5px 5px 5px #766F68;
}

li:hover{
    text-decoration: underline;
}

@media(max-width: 700px){

    body{
        padding: 3rem 1rem;
    }

    .menu{
    cursor: pointer;
    }

    .box1, .box2, .box3, .box4{
        display: block;
    }

    ul{
        display: none;
    }

    h1{
        font-size: 35px;
    }

    main{
        display: flex;
        flex-direction: column;
    }

    img{
        position: static;
        width: 100%;
    }

    h2, p{
        text-align: center;
        margin: 0 auto;
        padding: 2rem 0;
    }

    button{
        margin: 2rem auto;
        transform: scale(1.5);
        cursor: pointer;
    }
}
